@import '../../styles/variables';

.container {
  width: 150px;
  height: 30px;
  background-color: $swDarkBlue;
  border-radius: 10px;
  cursor: pointer;
  color: $swYellow;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}