@import '../../styles/variables';

.container {
  height: 75px;
  width: 100vw;
  background-color: $swDarkBlue;
  align-items: center;
  flex-direction: row;
}

.container * {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
}

.sensible {
  margin-left: 20px;
  color: $swYellow;
}

.forecasts {
  color: $swLightBlue;
  font-weight: 500;
}